
<phpunit bootstrap="Src/ABridge_test.php">
	<php>
	  <ini name="xdebug.collect_params" value="2"/>
	</php>
  <testsuites>
	<testsuite name="ABridge">
		<directory>Tests</directory>
	</testsuite>
	<testsuite name="View">
		<directory>Tests/View</directory>		
	</testsuite>
	<testsuite name="Usr">
		<directory>Tests/Usr</directory>
	</testsuite>
	<testsuite name="Adm">
		<directory>Tests/Adm</directory>
	</testsuite>
	<testsuite name="Hdl">
		<directory>Tests/Hdl</directory>
	</testsuite>
	<testsuite name="Log">
		<directory>Tests/Log</directory>
	</testsuite>	
	<testsuite name="Mod">
		<directory>Tests/Mod</directory>
	</testsuite>
  </testsuites>
</phpunit>